fastapi==0.115.5
uvicorn[standard]==0.32.1
spotipy==2.24.0
yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git@master
mutagen==1.47.0
python-dotenv==1.0.1
pydantic==2.10.3
httpx==0.28.0
aiofiles==24.1.0
python-multipart==0.0.18
imageio-ffmpeg==0.6.0
